################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/CSearch
/Co0nSearchC/bin/Debug/Speedtest1
/Co0nSearchC/bin/Debug/Speedtest2
/Co0nSearchC/bin/Debug/Speedtest3
/Co0nSearchC/bin/Debug
/Co0nSearchC/bin/Release/app.publish
/Co0nSearchC/bin/Release/Co0nUtilZ.pdb
/Co0nSearchC/bin/Release/CSearch.application
/Co0nSearchC/bin/Release/CSearch.exe.config
/Co0nSearchC/bin/Release/CSearch.exe.manifest
/Co0nSearchC/bin/Release/CSearch.pdb
